<div class="p-4">
  <ng-container *ngIf="userState$ | async as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="usersStateEnum.INITIAL">
      <div class="p-2">INITIAL STATE</div>
    </ng-container>
    <ng-container *ngSwitchCase="usersStateEnum.LOADING">
      <div class="p-2">LOADING</div>
    </ng-container>
      <ng-container *ngSwitchCase="usersStateEnum.LOADED">
        <section class="h-100 gradient-custom-2">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                  <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img [src]="state.USERS[0].avatar_url"
                          alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                          style="width: 150px; z-index: 1">
                      </div>
                      <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{state.USERS[0].login}}</h5>
                        <p>{{state.USERS[0].location}}</p>
                      </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                      <div class="d-flex justify-content-end text-center py-1">
                        <div>
                          <p class="mb-1 h5">{{state.USERS[0].public_repos}}</p>
                          <p class="small text-muted mb-0">Dépots</p>
                        </div>
                        <div class="px-3">
                          <p class="mb-1 h5">{{state.USERS[0].followers}}</p>
                          <p class="small text-muted mb-0">Followers</p>
                        </div>
                        <div>
                          <p class="mb-1 h5">{{state.USERS[0].following}}</p>
                          <p class="small text-muted mb-0">Following</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="mb-5">
                        <p class="lead fw-normal mb-1">About</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                          <p class="font-italic mb-1"></p>
                          <p class="font-italic mb-1">Lives in {{state.USERS[0].location}}</p>
                          <p class="font-italic mb-0">Company : {{state.USERS[0].company}}</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Followers</p>
                        <p class="mb-0"><a (click)="navigateToFollowers()" class="text-muted">Show all</a></p>
                      </div>
                      <div class="row g-2" style="background-color: #f8f9fa;">
                        Click show all to see all followers
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Dépots</p>
                        <p class="mb-0"><a (click)="navigateToRepository()" class="text-muted">Show all</a></p>
                      </div>
                      <div class="row g-2" style="background-color: #f8f9fa;">
                        Click show all to see all repositories
                      </div>
                      <div class="row g-2">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="usersStateEnum.ERROR">
          utilisateur non trouvé
        </ng-container>
  </ng-container>
</div>
    
